@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

$colors: (
 primary: #F15152,
 secondary: #EDB183,
 accent: #1E555C,
 accent-secondary: #3A2E39,
 light: #F7E2D8
);
$font: 'Spartan', sans-serif;
$text-size: 18px;

body {
    background-color: map-get($colors, light);
    font-family: $font;
}
.login-container {
    background-color: map-get($colors, primary);
}
.login-form {
    max-width: 500px;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    h2 {
        padding: 10px;
        color: map-get($colors,light)
    }
    input {
        width: 80%;
        margin: 10px;
        padding: 10px;

    }
}



