<!-- As a heading -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/public/styles/img/logo.png" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
     <div class="tile is-child box">
      <p class="title">Activity Categorys</p>
    <div class="tile is-child box">
      <p class="title">Lazy</p>
      <p class="subtitle">Lowkey simple activities to do at home with little to no effort</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Use your Brain
      <p class="subtitle">Activities meant to be stimulating, for your mind.</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Use your energy</p>
      <p class="subtitle">Activities you can do at home, that may make you break a sweat</p>
    </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Three</p>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent is-12">
    <article class="tile is-child box">
      <p class="title">To do list</p>
      <p class="subtitle">These are all the activites that you have saved, but have not completed.</p>
    <div class="tile is-child box">
      <p class="title">Task 1</p>
      <p class="subtitle">Description</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Task 2</p>
      <p class="subtitle">Description</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Task 3</p>
      <p class="subtitle">Description</p>
    </div>
    </article>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>#Verb-<i>its</i></strong> by <a href="https://github.com/KarinaTitov">Karina Titov</a> <a href="https://github.com/KarinaTitov">Karina Titov</a> <a href="https://github.com/KarinaTitov">Karina Titov</a> <a href="https://github.com/KarinaTitov">Karina Titov</a>
    </p>
  </div>
</footer>
Variables





{{!-- <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><b>#</b>Verb-<i>its</i></span>
  <a class="navbar-brand" href="/register">Become a Verb Member</a>
</nav>
<div class="position-static">...</div> --}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script src="/js/index.js"></script> --}}