<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title has-text-danger" style="font-family: 'Bungee Outline', cursive;">
          Verb-its!
        </h1>
        <hr class="login-hr">
        <p class="subtitle has-text-danger">Please login to proceed.</p>
        <div class="box">
          <form action="/login" method="POST">
            <div class="field">
              <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
              </div>
            </div>
            <button class="button is-large is-info is-light has-text-danger">Login </button> <button
              class="button is-large is-info is-light has-text-danger"><a href="/register">Register</a></button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/guest">Continue as guest</a> &nbsp;·&nbsp;>
        </p>
      </div>
    </div>
  </div>
</section>