<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title has-text-white" style="font-family: 'Bungee Outline', 32
        cursive; text-align:center;">
          Verb-its!
        </h1>
        <hr class="login-hr">
        <p class="subtitle has-text-white">Please register to proceed.</p>
        <div class="box">
          <form action="/register" method="POST">
            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" name="first_name" placeholder="First Name" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" name="last_name" placeholder="Last Name" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="example123@email.com" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
              </div>
            </div>
            <button type="button" class="button button is-link is-light is-large is-fullwidth">Register </button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/login">Go Back!</a> &nbsp;·&nbsp;>
        </p>
      </div>
    </div>
  </div>
</section>